.highlight {
  color: red; /* 讓所有 class 為 highlight 的文字都變紅色 */
}

h5 {
  font-size: 40px;
  font-family: "Microsoft JhengHei";
  color: rgb(255, 0, 170); /* 讓所有 class 為 highlight 的文字都變紅色 */
}
h2 {
  color: rgb(255, 166, 0); /* 讓所有 class 為 highlight 的文字都變紅色 */
}

h3 {
  color: rgb(255, 0, 255); /* 讓所有 class 為 highlight 的文字都變紅色 */
}

h4 {
  color: rgb(17, 0, 255); /* 讓所有 class 為 highlight 的文字都變紅色 */
}

header h4 {
  font-size: 36px;
}
#main-header {
  background-color: rgb(232, 215, 232); /* 只有這個唯一的標頭會變藍色背景 */
}

#main-header {
  color: rgb(95, 75, 102); /* 讓所有 class 為 highlight 的文字都變紅色 */
}

body {
  font-family: "Microsoft JhengHei", sans-serif;
}
