.highlight {
  color: red; /* 讓所有 class 為 highlight 的文字都變紅色 */
}

h2 {
  color: rgb(255, 166, 0); /* 讓所有 class 為 highlight 的文字都變紅色 */
}

h3 {
  color: rgb(255, 0, 255); /* 讓所有 class 為 highlight 的文字都變紅色 */
}

#main-header {
  background-color: rgb(0, 255, 221); /* 只有這個唯一的標頭會變藍色背景 */
}

#main-header {
  color: rgb(255, 0, 255); /* 讓所有 class 為 highlight 的文字都變紅色 */
}
